* {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 5px;
}

.navbar-logo {
  display: flex;
  cursor: pointer;
}
.navbar-logo p {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 10px;
}
.navbar-search {
  display: flex;
  align-items: center;
}
.navbar-search form {
  display: flex;
}
.navbar-search form > button {
  border-radius: 0 10px 10px 0;
}

.navbar-search form > button:active {
  background-color: rgb(20, 168, 168);
}
.navbar-search-logo {
  border: none;
  padding: 5px;
  background-color: rgb(189, 234, 219);
  cursor: pointer;
}
.navbar-search input {
  background-color: rgb(189, 234, 219);
  border: none;
  padding: 10px;
  height: 15px;
  border-radius: 10px 0 0 10px;
  width: 45vw;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-cart p {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}
.navbar-cart button {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.navbar-cart-logo {
  margin-right: 10px;
  cursor: pointer;
}
.navbar-cart-count {
  height: 22px;
  width: 22px;
  text-align: center;
  border-radius: 50px;
  background-color: red;
  color: white;
  margin-top: -37px;
  margin-left: -20px;
}
