/* <div key={comment.id} className="comments">
            <div className="username-container">
              <div className="profile-icon">
                <img src={profileIcon} width="50px" />
              </div>
              <div className="username">{comment.user.username}</div>
            </div>
            <div className="comment-msg">{comment.body}</div>
          </div> */
.comment-container {
  width: 100vw;
  display: flex column;
  margin-left: 25%;
}
.comments {
  display: flex column;
  margin: 20px;
  padding: 10px;
}
.username-container {
  display: flex;
  padding: 5px 0 0 0;
  margin: 0 0 5px 0;
}
.username {
  padding: 5px 5px 5px 5px;
}
.profile-icon {
  width: 30px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(170, 167, 167);
  border-radius: 50px;
}

.comment-date {
  color: grey;
}
.verified {
  color: rgb(233, 100, 5);
  margin: 5px 5px 5px 0;
  font-size: 15px;
  font-weight: 500;
}
.feedback-buttons {
  margin: 5px 5px 5px 0;
}
.feedback-button {
  padding: 5px 12px 5px 12px;
  margin: 5px;
  background-color: rgb(225, 220, 220);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.feedback-button:hover {
  background-color: rgb(204, 201, 201);
}
