.cartpage-container {
  display: flex;
  margin-top: 100px;
}

.right-panel {
  margin: 10px;
  background-color: white;
  border: 1px solid rgb(232, 228, 228);
  padding: 30px;
  width: 350px;
  height: 300px;
  position: fixed;
  left: 950px;
}

.price,
.discount,
.delivery-charge,
.total-amt {
  display: flex;
  justify-content: space-between;
}

.price,
.discount,
.delivery-charge,
.total-amt div {
  padding-top: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.right-panel p {
  color: grey;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.charges {
  text-decoration: line-through;
}

.total-amt {
  font-size: 20px;
  margin-top: 20px;
}
.discount-msg {
  margin-top: 20px;
  color: green;
  font-weight: 600;
  text-transform: capitalize;
}
