.product-container {
  display: flex column;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(232, 228, 228);
}
.product-image {
  width: auto;
  height: 25rem;
  padding: 5px;
  background-color: white;
}
.product-description {
  display: flex column;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  background-color: white;
}
.product-image-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
  background-color: white;
}

.product-description > title {
  font-weight: 500;
  font-size: 25px;
  text-transform: capitalize;
}
.price {
  font-weight: 700;
  text-align: center;
}

.rating {
  text-decoration: aqua;
}
